/*
    project   : Codeon v3.0
    Created on : May 31, 2014, 10:42:39 AM
    Author     : design_mylife
    Description: clean modern one page Template.
    updated on nov 9, 2014

*/
/*--------------base-------
*/
/* line 20, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
html,
body {
  height: 100%;
  color: #121212; }

/* line 25, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #a7afb8;
  -webkit-font-smoothing: antialiased; }

/*typography bootstrap overrides*/
/* line 33, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #121212; }

/* line 39, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h1 {
  font-size: 36px; }

/* line 42, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h2 {
  font-size: 30px; }

/* line 45, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h3 {
  font-size: 27px; }

/* line 49, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h4 {
  font-size: 24px; }

/* line 52, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h5 {
  font-size: 16px; }

/* line 55, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h6 {
  font-size: 13px; }

/* line 58, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
p {
  line-height: 25px;
  font-weight: 400;
  font-size: 13px;
  color: #a7afb8; }

/* line 64, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
a {
  background: transparent;
  outline: none;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: background-color,color; }

/* line 72, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
a:active,
a:hover,
a:focus {
  outline: 0;
  color: #0071B2;
  text-decoration: none; }

/* line 79, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.padding-80 {
  padding: 80px 0; }

/* line 82, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.padding-50 {
  padding: 50px 0; }

/* line 85, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.margin-btm-40 {
  margin-bottom: 40px; }

/* line 88, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.margin-btm-20 {
  margin-bottom: 20px; }

/*****************home ********
******************************/
/* line 93, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#home.full-screen-dem {
  background-color: #444;
  background-position: center 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  background-image: url("../../images/bg-1.jpg");
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1; }

/* line 109, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#home.home-video {
  background-color: #0071B2;
  background-image: none; }

/* line 113, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.parallax-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  background-color: rgba(44, 62, 80, 0.3);
  z-index: 2; }

/* line 124, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.home-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 3; }

/* line 130, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h1.slide-logo {
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 300;
  text-transform: uppercase; }

/* line 137, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h2.slide-btm-text {
  font-family: "Open Sans", sans-serif !important;
  text-align: center;
  margin: 30px 0;
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase; }

/* line 146, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.main-flex-slider {
  text-align: center;
  overflow: hidden; }

/* line 151, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.main-flex-slider h1 {
  font-size: 4em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 60px;
  margin: 0; }

/*home arrow down*/
/* line 161, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.home-arrow-down {
  margin-top: 60px;
  margin-bottom: 30px; }

/*********************
bootstrap navbar overrides
*************************/
/* line 174, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default {
  border-color: transparent;
  border-bottom: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 4;
  background-color: #fff;
  opacity: .95;
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

/* line 186, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

/* line 193, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-nav > li.nav-social a {
  font-size: 13px; }

/* line 196, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #0071B2 !important;
  background-color: transparent; }

/* line 200, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #0071B2 !important;
  background-color: transparent; }

/* line 204, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #0071B2 !important;
  background-color: transparent; }

/* line 208, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-default .navbar-brand {
  font-weight: 300;
  text-transform: uppercase;
  color: #000 !important;
  margin: 0px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif !important; }

/* line 216, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.navbar-brand:hover {
  color: #000 !important; }

/***************buttons*****************************/
/* line 221, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.btn {
  font-weight: 600;
  font-size: 13px;
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
  text-transform: uppercase;
  transition: all 200ms ease-in;
  border-radius: 0px;
  -ms-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif; }

/* line 233, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.btn:hover, .btn:focus {
  outline: 0;
  color: #fff; }

/* line 237, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.btn-theme-color {
  background-color: #0071B2;
  color: #fff; }

/* line 241, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.btn-theme-color:hover, .btn-theme-color:focus {
  color: #fff !important;
  background-color: #000 !important; }

/*************
**headings****/
/* line 250, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading {
  margin-bottom: 60px; }

/* line 253, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading .small {
  opacity: .75;
  margin-bottom: 0px; }

/* line 257, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading .large {
  opacity: 1; }

/* line 260, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading .section-title {
  color: #000;
  text-transform: capitalize; }

/* line 264, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading .small span {
  padding-bottom: 5px;
  border-bottom: 1px solid #666;
  font-size: 14px;
  font-weight: 600; }

/* line 270, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.section-heading .large {
  font-weight: 300;
  font-size: 45px; }

/*******************
page-head section
*******************/
/* line 278, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#page-head-bg {
  background-image: url("../../images/dark-bg-4.jpg");
  padding: 100px 0;
  text-align: center;
  background-size: cover;
  background-attachment: fixed; }

/* line 286, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#page-head-bg h1 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 31px; }

/*****************************
blog section css here
*****************************/
/* line 302, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-sec {
  padding: 20px 20px;
  margin-top: 0px;
  margin-bottom: 60px;
  border: 1px solid #eeeeee; }

/* line 308, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-sec img {
  margin-bottom: 30px; }

/* line 312, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-head {
  padding: 15px 0px;
  margin: 10px 0; }

/* line 316, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-head h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 0px; }

/* line 321, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-head h3 a {
  color: #121212;
  text-transform: uppercase; }

/* line 325, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-head h3 a:hover {
  color: #0071B2; }

/* line 328, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-post-info {
  padding: 5px 0px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0; }

/* line 334, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-post-info span {
  font-weight: 600;
  color: #999;
  font-size: 11px;
  text-transform: uppercase; }

/* line 340, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-post-info span a {
  color: #999; }

/* line 343, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-item-post-info span a:hover {
  color: #0071B2; }

/* line 346, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.blog-more-desc {
  margin: 30px 0;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }

/*blog post*/
/* line 355, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-wrapper {
  padding: 10px 0; }

/* line 358, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-box {
  padding: 20px 0;
  margin: 20px 0; }

/* line 362, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-list {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/* line 367, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-list p {
  overflow: hidden; }

/* line 370, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-list img {
  max-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  float: left;
  margin-right: 15px; }

/* line 378, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-list h5 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase; }

/* line 383, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.comment-form h4 {
  margin-bottom: 30px; }

/* line 387, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.more-link {
  text-align: right;
  padding-top: 5px; }

/* line 391, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.more-link a {
  color: #0071B2;
  font-weight: 600; }

/*********************
social icons css here
*********************/
/* line 400, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored {
  margin: 0;
  padding: 0; }

/* line 404, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li.empty-text {
  font-size: 12px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 0px; }

/* line 412, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i {
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  border-radius: 2px; }

/* line 422, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i.icon-fb {
  background-color: #077aaa; }

/* line 425, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i.icon-twit {
  background-color: #00A8FF; }

/* line 428, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i.icon-plus {
  background-color: #c7254e; }

/* line 431, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i.icon-pin {
  background-color: #843534; }

/**v1.1**/
/* line 435, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.social-colored li a i.icon-in {
  background-color: #007bb6; }

/****************************
About section
****************************/
/* line 447, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-box {
  margin-bottom: 40px; }

/* line 450, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-box-icon {
  float: left; }

/* line 453, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-box-icon i {
  color: #0071B2;
  font-size: 44px; }

/* line 457, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-box-text {
  padding-left: 70px;
  padding-top: 0px; }

/* line 461, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-box-text h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px; }

/* line 466, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-section-more {
  margin-top: 30px;
  margin-bottom: 0px; }

/* line 470, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-more-info {
  margin-bottom: 30px; }

/* line 473, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.about-more-info p:first-letter {
  color: #0071B2;
  font-weight: 400;
  font-size: 20px; }

/* line 478, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.skills-wrapper {
  margin-bottom: 30px; }

/*progress bar*/
/* line 482, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
h3.heading-progress {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0px; }

/* line 488, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.progress {
  height: 15px;
  line-height: 10px;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #E9E9E9;
  border-radius: 0px; }

/* line 495, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.progress-bar {
  line-height: 10px;
  background: #0071B2;
  -ms-box-shadow: none;
  box-shadow: none; }

/*purchase now section*/
/* line 501, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.purchase-now {
  background-image: url("../../images/bg-1.jpg");
  width: 100%;
  padding: 120px 0;
  background-size: cover;
  background-attachment: fixed; }

/* line 508, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.purchase-now h1 {
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px; }

/* line 515, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.purchase-now .btn-theme-color {
  float: right; }

/**********************************

  services section css here

***********************************/
/* line 524, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-1 {
  margin-bottom: 30px; }

/* line 527, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-icon {
  margin-bottom: 20px; }

/* line 530, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-icon i {
  color: #333;
  font-size: 24px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 32px;
  transition: all 200ms ease-in; }

/* line 541, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-icon i:hover {
  background-color: #333;
  color: #f6f6f6; }

/* line 545, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-info h3 {
  margin-top: 0;
  font-weight: 600;
  font-size: 20px; }

/* line 550, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-right img {
  margin-bottom: 50px; }

/* line 555, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-2 {
  padding: 90px 0; }

/* line 558, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-2 h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 27px; }

/* line 566, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-2 .newsletter-form input {
  border: none; }

/* line 569, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-2 .newsletter-form input:focus {
  border: none; }

/*forms*/
/* line 576, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 25px;
  color: #7a7a7a;
  border: 1px solid #dadada;
  resize: none;
  height: 39px;
  vertical-align: middle;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #FFF;
  border-radius: 0px;
  transition: all 200ms ease-in; }

/* line 609, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border: 1px solid #999;
  background: #FFF;
  -ms-box-shadow: none;
  box-shadow: none; }

/* line 629, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#contactForm .form-group {
  margin-bottom: 0px !important; }

/* line 633, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contactForm .form-group {
  margin-bottom: 0px !important; }

/**************************
  sideabr
  ************************/
/* line 643, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.sidebar-box {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #eeeeee; }

/* line 648, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.sidebar-box h4 {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px; }

/* line 656, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.widget-search .search-form {
  position: relative; }

/* line 659, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.widget-search .search-form input {
  margin-bottom: 0px; }

/* line 662, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.widget-search .search-form i {
  position: absolute;
  top: 3px;
  right: 10px;
  line-height: 38px;
  text-align: center;
  color: #999; }

/* line 670, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.popu-post-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px; }

/* line 676, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.popu-post-item h5 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px; }

/* line 681, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.popu-post-item h5 a {
  color: #0071B2; }

/* line 684, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.popu-post-item span {
  display: block;
  padding-bottom: 5px;
  font-size: 13px;
  border-bottom: 1px solid #f7f7f7; }

/* line 690, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.popu-post-item span a {
  color: #0071B2; }

/* line 694, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.cat-list {
  padding: 0;
  margin: 0; }

/* line 699, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.cat-list li {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee; }

/* line 703, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.cat-list li:last-child {
  border-bottom: none; }

/* line 706, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.cat-list li a {
  display: block;
  font-weight: 600;
  color: #777;
  text-transform: uppercase;
  font-size: 12px; }

/***************************************
bootstrap overrides badge and pagination
****************************************/
/* line 718, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.badge {
  background-color: #0071B2;
  font-weight: 400; }

/* line 722, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pagination {
  margin-top: 0px; }

/* line 725, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 10px 16px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #fff;
  background-color: #0071B2;
  border: 1px solid #077aaa;
  margin-left: -1px; }

/* line 736, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #fff !important;
  background-color: #077aaa;
  border-color: #077aaa; }

/*********************************
our work section
**********************************/
/* line 748, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-section-1 {
  margin-bottom: 30px; }

/* line 751, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-col-4 .project-post {
  padding: 15px;
  width: 25%; }

/* line 755, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-col-3 .project-post {
  padding: 15px;
  width: 33.33%; }

/* line 759, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-fullwidth .project-post {
  padding: 0px;
  width: 33.33%; }

/* line 763, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-masonry .project-post {
  padding: 0;
  margin: 0;
  width: 33.333%; }

@media (max-width: 768px) {
  /* line 769, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .work-col-4 .project-post, .work-col-3 .project-post, .work-fullwidth .project-post, .work-masonry .project-post {
    width: 50%; } }
@media (max-width: 568px) {
  /* line 774, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .work-col-4 .project-post, .work-col-3 .project-post, .work-fullwidth .project-post, .work-masonry .project-post {
    width: 100%; } }
/* line 778, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#portfolio-masonry {
  padding-top: 50px; }

/* line 781, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.filter {
  margin: 30px 0; }

/* line 784, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.filter li {
  padding: 0px; }

/* line 787, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.filter li a {
  padding: 8px 14px;
  background-color: #f5f5f5;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  display: block;
  margin: 5px;
  text-transform: uppercase; }

/* line 798, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.filter li a.active {
  background-color: #0071B2;
  color: #fff; }

/* line 802, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.filter li a:hover {
  background-color: #0071B2;
  color: #fff; }

/***image hover****/
/* line 808, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-wrapper {
  position: relative; }

/* line 811, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-wrapper img {
  width: 100%;
  height: auto; }

/* line 815, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-overlay {
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.92);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease-out; }

/* line 827, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-overlay p {
  position: absolute;
  top: 50%;
  color: #333;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px;
  width: 100%;
  transition: all 0.3s ease-out; }

/* line 838, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-wrapper:hover .image-overlay {
  opacity: 1; }

/* line 841, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.image-overlay p:before {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #333;
  margin: 10px auto;
  display: block; }

/* line 849, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-sesc {
  padding: 15px 10px;
  border: 1px solid #E9E9E9;
  border-top: none; }

/* line 855, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-sesc p {
  line-height: 10px;
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  font-family: "Open Sans", sans-serif; }

/*****************team*******************/
/* line 869, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.work-section-2 {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 50px; }

/* line 874, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.person {
  margin-bottom: 25px; }

/* line 877, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.person img {
  display: block;
  margin: 0 auto; }

/* line 881, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.person-desc h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 3px; }

/* line 887, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.person-desc em {
  font-weight: 600;
  color: #0071B2;
  font-style: normal;
  font-size: 12px; }

/*****tooltip************/
/* line 896, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.tooltip {
  font-size: 16px;
  line-height: 2; }

/* line 900, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.tooltip.top .tooltip-inner {
  background-color: #0071B2;
  padding: 6px 12px;
  font-size: 13px; }

/* line 905, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #0071B2; }

/**********************contact section
***************************************/
/* line 915, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contact-sec-1 {
  margin: 0; }

/* line 918, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contact-sec-1 h4 {
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px; }

/* line 924, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contact-sec-2 {
  padding: 40px 0;
  background-color: #333;
  border-top: 1px solid #222; }

/* line 929, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contact-col i {
  font-size: 45px;
  margin-bottom: 15px;
  color: #0071B2; }

/* line 934, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.contact-col p {
  font-weight: 300;
  font-size: 18px;
  color: #fff; }

/***footer*/
/* line 940, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#footer {
  padding: 50px 0;
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.85); }

/* line 947, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#footer .copyright span {
  color: #fff; }

/* line 950, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.footer-nav ul {
  float: right;
  margin: 0;
  padding: 0; }

/* line 955, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.footer-nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px; }

/*****************Pricing tables******************/
/* line 967, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-section-1 {
  background-color: #fff;
  margin-bottom: 40px; }

/* line 972, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-wrapper {
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #eee; }

/* line 979, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.price-popular .pricing-wrapper-inner h2 {
  background-color: #0071B2;
  color: #fff;
  border-color: #0071B2; }

/* line 984, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-wrapper-inner {
  text-align: center; }

/* line 987, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-wrapper-inner h1 {
  color: #000;
  padding: 25px 0;
  margin: 0; }

/* line 992, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-wrapper-inner h2 {
  margin: 0;
  padding: 25px;
  color: #0071B2;
  font-size: 4em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

/* line 1000, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-wrapper-inner h2 small {
  color: #fff;
  font-size: 14px; }

/* line 1004, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.price-desc {
  padding: 15px 0; }

/* line 1007, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.price-desc p {
  color: #333;
  line-height: 2.5; }

/* line 1011, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.price-join {
  padding: 10px 0;
  border-top: 1px solid #eee; }

/*pricing-section-2 for contact us*/
/* line 1016, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-section-2 {
  background-image: url("../../images/bg-3.jpg");
  padding: 90px 0;
  width: 100%;
  background-size: cover;
  background-attachment: fixed; }

/* line 1023, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-section-2 h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff; }

/* line 1030, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.pricing-section-2 p {
  margin: 0px; }

/****************responsive css 768px*********************/
@media (min-width: 768px) {
  /* line 1035, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px; } }
@media (max-width: 767px) {
  /* line 1043, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .blog-more-desc .social-colored {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 15px; }

  /* line 1049, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .blog-more-desc .col-sm-5 {
    text-align: center !important; }

  /* line 1052, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .copyright {
    text-align: center;
    width: 100%;
    margin-bottom: 15px; }

  /* line 1057, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .footer-nav {
    text-align: center; }

  /* line 1060, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .footer-nav ul {
    float: none; }

  /* line 1063, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .call-sec {
    width: 100% !important;
    margin: 0 0 0 0 !important; }

  /* line 1068, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .slide-btm-text {
    display: none; }

  /* line 1071, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  #page-head-bg h1 {
    font-size: 3em; }

  /* line 1074, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .purchase-now {
    text-align: center !important; }

  /* line 1077, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .purchase-now h1 {
    margin-bottom: 20px; }

  /* line 1080, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .purchase-now .btn-theme-color {
    float: none; } }
@media (max-width: 360px) {
  /* line 1087, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .home-overlay .main-flex-slider h1 {
    margin-bottom: 20px; }

  /* line 1090, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .main-flex-slider h1 {
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: 30px; }

  /* line 1095, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .home-arrow-down {
    margin-top: 30px; } }
/**portfolio single*/
/* line 1102, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#work-single {
  overflow: hidden; }

/* line 1105, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.portfolio-slide {
  overflow: hidden; }

/*iframe*/
/* line 1111, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
iframe {
  width: 100%;
  overflow: hidden; }

/************************version v1.1 css************/
/*************parallax*************/
/* line 1120, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.parallax {
  background-position: 50% 0;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1;
  display: block;
  position: relative; }

/* line 1137, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.services-section-2 {
  background-image: url("../../images/bg-3.jpg");
  padding: 90px 0;
  background-color: #0071B2;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; }

/**fun facts***/
/* line 1150, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#numbers {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../images/bg-2.jpg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; }

/* line 1158, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.fact-inner {
  text-align: center; }

/* line 1161, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.fact-inner h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 50px; }

/* line 1166, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.fact-inner h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px; }

/**testi***/
/* line 1175, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi {
  background-image: url("../../images/bg-1.jpg");
  padding: 90px 0;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; }

/* line 1182, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi img {
  border-radius: 50%; }

/* line 1185, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi h4 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", sans-serif; }

/* line 1192, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi p {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }

/* line 1198, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi .owl-page.active span {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: scale(1.3333333); }

/* line 1203, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi .owl-page span {
  width: 6px !important;
  height: 6px !important;
  display: block;
  background: rgba(255, 255, 255, 0.7) !important;
  position: relative;
  z-index: 1000 !important;
  border-radius: 4px;
  -ms-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1); }

/* line 1214, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.testi .owl-page:hover span {
  background: white; }

/**coming soon**/
/* line 1218, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.soon-bg {
  background-color: #eff2f3;
  padding-top: 100px;
  padding-bottom: 30px; }

/* line 1223, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.soon h1 {
  font-size: 44px;
  line-height: 44px; }

/* line 1227, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.soon h2 {
  margin-bottom: 60px;
  font-weight: 200;
  color: #777; }

/* line 1232, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.soon-form .form-control {
  margin-bottom: 0px;
  width: 260px; }

/* line 1236, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
#defaultCountdown {
  margin-bottom: 60px; }

/* line 1239, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.countdown_amount {
  display: block;
  font-size: 44px;
  padding-top: 25px;
  line-height: 20px;
  font-weight: 400;
  color: #0071B2; }

/* line 1248, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.countdown_section {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding-top: 13px;
  margin: 10px;
  color: #0071B2;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 50%; }

/* line 1261, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.footer-soon {
  margin-top: 60px; }

/* line 1264, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.footer-soon p {
  margin: 30px 0; }

/*****************v1.2 on 8 -11 -2014*******************/
/* line 1270, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.help-block ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 1275, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.help-block ul li {
  color: red; }

/* line 1279, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
label span {
  color: red;
  margin-left: 5px; }

/*******************easy pie chart*****************/
/*******************************easy pie charts skills***************************/
/* line 1285, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.easy-pie-chart-row {
  padding: 60px 0; }

/* line 1288, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.easy-pie-chart {
  position: relative;
  background-color: #fff;
  padding-bottom: 40px;
  padding-top: 80px; }

/* line 1295, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.chart {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center; }

/* line 1302, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0; }

/* line 1307, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.chart span {
  line-height: 120px !important;
  text-align: center;
  font-weight: 600; }

/* line 1312, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.progress-circle {
  display: inline-block;
  text-align: center;
  margin: 0 30px 0 0; }

/* line 1317, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.progress-text {
  margin: 30px 0;
  color: #888;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600; }

/**********back to top*************/
/* line 1325, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.scrollToTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999999;
  display: none;
  background: #0071B2;
  opacity: 0.5;
  transition: all 0.3s; }

/* line 1345, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: #fff !important; }

/* line 1351, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.dropdown-menu {
  border: 0px;
  min-width: 190px;
  padding: 0px;
  background-color: #1c1c1c; }

/* line 1357, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.dropdown-menu > li > a {
  padding: 10px 20px;
  color: #bbb;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border-bottom: 1px dotted #333;
  text-transform: capitalize; }

/* line 1366, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #0071B2; }

/* line 1373, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.Ken-burns-heading {
  font-weight: 600;
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

/* line 1380, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.rev-buttons .btn-theme-color {
  background: transparent;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 12px 18px !important;
  font-size: 12px !important;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  display: inline-block;
  transition: 0.2s background linear; }

/* line 1393, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.rev-buttons .btn-theme-color:hover {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.15) !important; }

/* line 1397, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.ken-burns-cap {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff; }

/***transparent header****/
/* line 1408, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.fixed-navigation {
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /*    background-color: rgba(255,255,255,0);*/ }

@media (min-width: 768px) {
  /* line 1417, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-transparent {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
    -ms-box-shadow: none;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
    padding: 20px 0; }

  /* line 1424, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #fff; }

  /* line 1427, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-transparent .navbar-brand {
    color: #fff !important; }

  /* line 1430, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-bg {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 0;
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

  /* line 1435, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-bg .navbar-nav > li > a {
    color: #000; }

  /* line 1438, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
  .fixed-navigation .navbar-default.navbar-bg .navbar-brand {
    color: #000 !important; } }
/* line 1442, /Users/floup/code/fredlambrechts/osimis/middleman-version/source/stylesheets/components/style.scss */
.purchase-now:before, .services-section-2:before, .testi:before, #numbers:before, .pricing-section-2:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.6); }
